/*---Start of Navigation ---*/

nav{
	overflow: hidden;
	display: flex;
	justify-content: center;
}

nav ul{
	/* overflow: hidden; */
	width: 100%;
	display: flex;  /* allows nav items to line up in row naturally */
	justify-content: center;
}
nav li{  /* where the buttons are */
	display: flex;
}

nav li a{  /* what the buttons look like */
	border-radius: 10px;
    background: #4579EA;
    margin-right: 2%;
	border-right: 3px solid #454545;  /* little dark curve on the right side*/
	border-bottom: 1px solid #454545;
	color:#FFFFFF;
	font-weight: 600;
	width: 20vw;
	text-decoration: none;
	transition: background 0.5s ease;
}

nav li a:hover{
	background: #d132c9;
	color:#454545;
}
nav li.active a{
	background: blue;
	color:#d132c9;
}

/*---media queries--*/
@media(max-width: 1400px){
	body{
		/* background-color: purple; */
		}
		nav ul li a{
		margin: 15%;
		font-size: 3vw;
		width: 200px;
	}
}
@media(max-width: 1024px){
	body{
		/* background-color: green; */
		}
		nav ul li a{
		margin: 10%;
		font-size: 3vw;
		width: 200px;
	}
}

@media(max-width: 600px){
	body{
		/* background-color: blue; */
		}
		nav ul li a{
		font-size: 4vw;
	}
}

@media (max-width: 350px){
	body{
	/* background-color: red; */
	}
	nav ul{
	flex-direction: column;
	}
	nav ul li a{
		padding:0;
		margin:5px auto;
		align-content: center;
		justify-content: center
	font-size: 5vw;
}
}
